body {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.msg {
  padding: 6px 4px;
}

.msg.me {
  background: #d9fdd3;
}

.name {
  color: blue;
  cursor: pointer;
  font-weight: bold;
  margin-right: 6px;
}

.text {
  word-break: break-word;
}
