*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#eef7ff;
height:100vh;
display:flex;
flex-direction:column;
}

header{

background:white;

padding:15px;

display:flex;

align-items:center;

gap:15px;

box-shadow:0 4px 12px rgba(0,0,0,.08);

}

#back{

border:none;

background:none;

font-size:22px;

cursor:pointer;

}

.user{

display:flex;

align-items:center;

gap:12px;

}

.avatar{

width:50px;

height:50px;

border-radius:50%;

background:#38bdf8;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:22px;

}

.user p{

font-size:13px;

color:#38b000;

}

#messages{

flex:1;

overflow:auto;

padding:20px;

display:flex;

flex-direction:column;

gap:15px;

}

.message{

max-width:70%;

padding:12px;

border-radius:18px;

position:relative;

word-break:break-word;

}

.other{

background:white;

align-self:flex-start;

}

.me{

background:#38bdf8;

color:white;

align-self:flex-end;

}

.message span{

display:block;

font-size:11px;

margin-top:6px;

opacity:.7;

}

.inputArea{

display:flex;

gap:10px;

padding:15px;

background:white;

box-shadow:0 -4px 12px rgba(0,0,0,.08);

}

.inputArea input{

flex:1;

padding:14px;

border:none;

border-radius:15px;

background:#eef7ff;

}

.inputArea button{

padding:0 20px;

border:none;

background:#38bdf8;

color:white;

border-radius:15px;

cursor:pointer;

}
