/* ==========================
   全体
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Yu Gothic","Meiryo",sans-serif;
}

body{
    background:#eef7ff;
    color:#333;
    padding-bottom:90px;
}

.app{
    max-width:420px;
    margin:auto;
    padding:20px;
}

/* ==========================
   ヘッダー
========================== */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

header h2{
    color:#2c8cff;
}

.newChat{

    width:45px;
    height:45px;

    border:none;

    border-radius:50%;

    background:#38bdf8;

    color:white;

    font-size:24px;

    cursor:pointer;

}

/* ==========================
   検索
========================== */

.search{

    margin-bottom:20px;

}

.search input{

    width:100%;

    padding:14px;

    border:none;

    border-radius:15px;

    box-shadow:0 4px 10px rgba(0,0,0,.08);

}

/* ==========================
   チャットカード
========================== */

.chatCard{

    display:flex;

    align-items:center;

    gap:15px;

    background:white;

    border-radius:20px;

    padding:15px;

    margin-bottom:15px;

    box-shadow:0 5px 12px rgba(0,0,0,.08);

    cursor:pointer;

    transition:.2s;

}

.chatCard:hover{

    transform:translateY(-2px);

}

.avatar{

    width:55px;

    height:55px;

    border-radius:50%;

    background:#38bdf8;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

    font-size:22px;

    position:relative;

}

.online{

    position:absolute;

    right:2px;

    bottom:2px;

    width:12px;

    height:12px;

    border-radius:50%;

    background:#32d74b;

    border:2px solid white;

}

.chatInfo{

    flex:1;

}

.chatInfo h3{

    color:#2196f3;

    margin-bottom:5px;

}

.chatInfo p{

    color:#777;

    font-size:14px;

}

.right{

    text-align:right;

}

.right small{

    color:#999;

}

.badge{

    display:inline-block;

    margin-top:8px;

    background:#ff4d4f;

    color:white;

    padding:4px 8px;

    border-radius:20px;

    font-size:12px;

}

/* ==========================
   下ナビ
========================== */

nav{

    position:fixed;

    bottom:0;

    left:50%;

    transform:translateX(-50%);

    width:100%;

    max-width:420px;

    background:white;

    display:flex;

    justify-content:space-around;

    padding:15px 0;

    border-top-left-radius:25px;

    border-top-right-radius:25px;

    box-shadow:0 -4px 12px rgba(0,0,0,.08);

}

nav button{

    border:none;

    background:none;

    font-size:24px;

    cursor:pointer;

}

nav .active{

    color:#2196f3;

}
