*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#eef7ff;
padding-bottom:90px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:white;
box-shadow:0 4px 12px rgba(0,0,0,.08);
}

header h2{
color:#2196f3;
}

#newPost{
width:45px;
height:45px;
border:none;
border-radius:50%;
background:#38bdf8;
color:white;
font-size:26px;
cursor:pointer;
}

.container{
max-width:420px;
margin:auto;
padding:20px;
}

.post{
background:white;
border-radius:20px;
padding:18px;
margin-bottom:20px;
box-shadow:0 5px 12px rgba(0,0,0,.08);
}

.top{
display:flex;
align-items:center;
gap:12px;
margin-bottom:15px;
}

.avatar{
width:50px;
height:50px;
border-radius:50%;
background:#38bdf8;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:22px;
}

.text{
line-height:1.7;
margin-bottom:15px;
}

.actions{
display:flex;
gap:10px;
}

.actions button{
flex:1;
padding:12px;
border:none;
border-radius:12px;
background:#eef7ff;
cursor:pointer;
}

nav{
position:fixed;
bottom:0;
left:50%;
transform:translateX(-50%);
width:100%;
max-width:420px;
display:flex;
justify-content:space-around;
padding:15px 0;
background:white;
border-top-left-radius:25px;
border-top-right-radius:25px;
box-shadow:0 -5px 15px rgba(0,0,0,.08);
}

nav button{
border:none;
background:none;
font-size:24px;
cursor:pointer;
}

.active{
color:#2196f3;
}
